div{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    display: block;
    padding: 10px;
/*inline, block and block*/
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: solid green;
    height: 300px;
    column-gap: 40px;
    
}
div{
   border: 1px solid black; 
}
.flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
}

div{
    border: solid greenyellow;
    width: 100px;  
}
div:first-child{
    order: 2;
}